.star {
    text-decoration: none;
    color: #ccc;
}

.star.favourited {
    color: #ff0;
}

.star-button {
    background: none;
    border: none;
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.7em;

}

.star-button:hover {
    color: #ff0;
}

.star-button.favourited {
    color: #ff0;
}

body,
.navbar {
    background-color: #141414;
    color: #ffffff;
}

.card {
    background-color: #272727;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    color: #ffffff;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 2em;
}

h2,
.navbar-brand,
.nav-link {
    color: #e50914;
}

li {
    color: #ffffff;
}

.btn-outline-success {
    border-color: #e50914;
    color: #e50914;
}

.btn-outline-success:hover {
    background-color: #e50914;
    color: #ffffff;
}

.white-link {
    color: white;
    text-decoration: none;
}

.red-link {
    color: #e50914;
    text-decoration: none;
}

.black-link {
    color: rgb(0, 0, 0);
}

.d-flex {
    position: relative;
}

#suggestionList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    display: none; /* Hide the list by default */
}

#suggestionList li {
    padding: 10px;
}

#suggestionList li:hover {
    background: #f0f0f0;
}

#suggestionList a {
    text-decoration: none;
    color: black;
}

#suggestionList li {
    padding: 10px;
    color: black; /* Add this line */
}

.media-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.media-item {
    flex: 1 0 19%; /* Adjust as needed */
    margin: 0.5%; /* Adjust as needed */
    text-align: center;
}

.movie-poster, .tvshow-poster {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.media-grid .movie-poster, .media-grid .tvshow-poster {
    width: 100%;
    height: 350px;
}

.movie-poster, .tvshow-poster {
    width: 70%;
    height: 70%;
    object-fit: cover;
}
.navbar {
    height: 70px;
}