<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ymlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>toWatch</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/custom.css" th:href="@{/css/custom.css}" />
	<link rel="stylesheet" type="text/css" href="/css/modal.css" th:href="@{/css/modal.css}">
</head>

<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="images/toWatch.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
			toWatch</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="container-fluid">
				<div class="row">
					<div class="col-4">
						<ul class="navbar-nav mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/movies">Movies</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/tvshows">TV Shows</a>
							</li>
							<li sec:authorize="isAuthenticated()" class="nav-item">
								<a class="nav-link" href="/favourites">Favorites</a>
							</li>
						</ul>
					</div>
					<div class="col-4">
						<form class="d-flex">
							<input class="form-control me-2" id="searchInput" type="search" placeholder="Search..."
								aria-label="Search">
							<ul id="suggestionList"></ul>
						</form>
					</div>
					<div class="col-4 d-flex justify-content-end">
						<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
							<input type="submit" value="Sign Out" class="btn btn-danger" />
						</form>
						<form sec:authorize="isAnonymous()">
							<input type="button" value="Log In" class="btn btn-success" data-toggle="modal" data-target="#login-modal"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
<body>
	<div th:include="loginModal"></div>
	<div class="container py-4">
		<div class="row mb-4">
			<div class="col-md-4">
				<div class="card mb-4">
					<div class="card-body">
						<h5 class="card-title">About toWatch</h5>
						<p class="card-text">toWatch is a platform where you can find your favorite movies and TV shows,
							and keep track of what you want to watch.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 mb-4">
				<h2>Most Favorited Movies</h2>
				<div class="media-grid">
					<div th:each="movie : ${movies}" class="media-item">
						<img class="movie-poster" th:id="'movie-poster-' + ${movie.id}" />
						<h2><a class="white-link" th:href="@{'/media/movie/' + ${movie.id}}" th:text="${movie.title}"></a></h2>
					</div>
				</div>
			</div>
			<div class="col-md-12 mb-4">
				<h2>Most Favorited TV Shows</h2>
				<div class="media-grid">
					<div th:each="tvshow : ${tvshows}" class="media-item">
						<img class="tvshow-poster" th:id="'tvshow-poster-' + ${tvshow.id}" />
						<h2><a class="white-link" th:href="@{'/media/tvshow/' + ${tvshow.id}}" th:text="${tvshow.title}"></a></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="/js/edit.js"></script>
	<script src="/js/search.js"></script>
</body>

</html>