<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ymlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> 

<head>
	<title>toWatch</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<div class="container" style="display:flex;padding-bottom: 5em;padding-top: 1em;"   >
		<div class="col-md-4" style="margin-left: 0%;">
			<h1>toWatch</h1>
		</div>
		<div class="col-md-4" style="margin: auto;">
			<h3 style="text-align: center;">Welcome <span sec:authentication="name"></span></h3>
		</div>
		<div class="col-md-4" style="margin: auto;">
			<form th:action="@{/logout}" method="post" style="margin-left: 100%;">
				<input type="submit" value="Sign Out" class="btn btn-danger"/>
			</form>
		</div>
	</div>
	<table class="table table-striped" style="width: 80%; margin:auto">
		<tr>
            <th>Media</td>
			<th>Title</th>
			<th>Description</th>
			<th>Genre</th>
			<th>Release Date</th>
			<th>Director</th>
			<th sec:authorize="hasAuthority('ADMIN')"> </th>
			<th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>
		<tr th:each="Movie : ${movies}">
            <td th:text="Movie"></td>
			<td th:text="${Movie.title}"></td>
			<td th:text="${Movie.description}"></td>
			<td th:text="${Movie.listedIn}"></td>
			<td th:text="${Movie.releaseYear}"></td>
			<td th:text="${Movie.director}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/deleteMovie/{id}(id=${Movie.id})}">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success" th:href="@{/editMovie/{id}(id=${Movie.id})}">Edit</a></td>
		</tr>
        <tr th:each="TVShow : ${tvshows}">
            <td th:text="Series"></td>
			<td th:text="${TVShow.title}"></td>
			<td th:text="${TVShow.description}"></td>
			<td th:text="${TVShow.listedIn}"></td>
			<td th:text="${TVShow.releaseYear}"></td>
			<td th:text="${TVShow.director}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/deleteTVShow/{id}(id=${TVShow.id})}">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success" th:href="@{/editTVShow/{id}(id=${TVShow.id})}">Edit</a></td>
		</tr>
	</table>
	<a class="btn btn-success" href="/addMedia" style="margin-left: 10%;">Add Media</a>
</body>

</html>