<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ymlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>toWatch</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/custom.css}" />
</head>

<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="/images/toWatch.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
			toWatch</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="container-fluid">
				<div class="row">
					<div class="col-4">
						<ul class="navbar-nav mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" aria-current="page" href="/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/movies">Movies</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/tvshows">TV Shows</a>
							</li>
							<li sec:authorize="isAuthenticated()" class="nav-item">
								<a class="nav-link" href="/favourites">Favorites</a>
							</li>
						</ul>
					</div>
					<div class="col-4">
						<form class="d-flex">
							<input class="form-control me-2" id="searchInput" type="search" placeholder="Search..." aria-label="Search">
							<ul id="suggestionList"></ul>
						</form>
					</div>
					<div class="col-4 d-flex justify-content-end">
						<form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
							<input type="submit" value="Sign Out" class="btn btn-danger" />
						</form>
						<form th:action="@{/login}" method="get" sec:authorize="isAnonymous()">
							<input type="submit" value="Log In" class="btn btn-success" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>

<body>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6 mb-4">
				<div th:if="${media.type == 'Movie'}">
					<h2><a class="red-link" th:href="@{'/media/movie/' + ${media.id}}" th:text="${media.title}"></a></h2>
					<img class="movie-poster" th:id="'movie-poster-' + ${media.id}" />
				</div>
				<div th:if="${media.type == 'TV Show'}">
					<h2><a class="red-link" th:href="@{'/media/tvshow/' + ${media.id}}" th:text="${media.title}"></a></h2>
					<img class="tvshow-poster" th:id="'tvshow-poster-' + ${media.id}" />
				</div>
            </div>
            <div class="col-md-6 mb-4">
				<p><strong>Type:</strong> <span th:text="${media.type}"></span></p>
                <p><strong>Description:</strong> <span th:text="${media.description}"></span></p>
                <p><strong>Genre:</strong> <span th:text="${media.listedIn}"></span></p>
                <p><strong>Release Year:</strong> <span th:text="${media.releaseYear}"></span></p>
                <p><strong>Director:</strong> <span th:text="${media.director}"></span></p>
                <p><strong>Cast:</strong> <span th:text="${media.cast}"></span></p>
                <p><strong>Country:</strong> <span th:text="${media.country}"></span></p>
                <p><strong>Date Added:</strong> <span th:text="${media.dateAdded}"></span></p>
                <p><strong>Rating:</strong> <span th:text="${media.rating}"></span></p>
                <p><strong>Duration:</strong> <span th:text="${media.duration}"></span></p>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/js/edit.js"></script>
	<script src="/js/search.js"></script>
</body>

</html>